.addAddress_button_style {
    font-weight: 800;
  }

  .display_currency_style {
    height: 2rem;
    border-radius: 5px;
    width: 40%;
    padding: 5px;
    background-color: #E9EAEC;
  }

  .tableheader {
    color: white;
    background-color: #8D8F95;
    position: sticky !important;
    top: 0;
    z-index: 99;
    height: 40px;
    text-align: left;
  }

  .tableheaderfirst {
    color: white;
    background-color: #8D8F95;
    position: sticky !important;
    top: 0;
    z-index: 99;
    height: 30px;
    text-align: left;

  }

  /* scroll bar */
  .scroll-box {
    width: 98%;
    height: 380px;
    overflow-y: auto;
  }

  .scroll-box::-webkit-scrollbar {
    width: .4em;
  }

  .scroll-box::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background: #a26737;
  }

  .table_Column {
    border-bottom: 1px solid #dee2e6;
    padding: 8px;
    height: 45px;
  }

  .item_description_style {
    width: 26%;
    text-align: left;
  }

  .totalPrice_field_style {
    width: 70px;
    margin-left: 120px;

  }

  .table_width {
    width: 15% !important;
    padding-left: 9px;
  }

  .quantity_field {
    width: 63px;
    position: sticky;
    margin-top: -8px;
  }


  .slds-p-left_small,
  .slds-p-left--small {
    padding-left: 0 !important;
  }

  .image_style {
    height: 130px;
    width: 70%;

  }