/* scroll bar */
.scroll-box {
  width: 92%;
  height: 220px;
  overflow-y: auto;
}

.scroll-box::-webkit-scrollbar {
  width: .4em;
}

.scroll-box::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background: #001137;
}

/* Table  */
.table_Column {
  border-bottom: 1px solid #dee2e6;
  padding: 8px;
  height: 45px;
}


.tableheader {
  color: white;
  background-color: #001137;
  position: sticky !important;
  top: 0;
  z-index: 99;
  height: 30px;
  text-align: center;

}

.tableheaderfirst {

  color: white;
  background-color: #001137;
  position: sticky !important;
  top: 0;
  z-index: 99;
  height: 30px;
  text-align: left;

}

caption,
th,
td {
  text-align: center !important;
}

/* Message */
.headerText {
  font-size: small;
  font-weight: bold;
  margin-left: 20px;
}

.message_style {
  text-align: center;
  font-size: small;
  font-weight: bold;
}

.table_Width {
  width:100%
}