.slds-modal__container {
    width: 50% !important;
    max-width: 50rem !important;
}

@media only screen and (min-width:100px) and (max-width: 366px) {

    .slds-button {
        padding: 6px;
    }

    .slds-modal__footer {
        padding: 0px;
    }
}

.slds-text-heading_small {
    margin-bottom: 0;
}

.slds-modal__close {
    top: 0.5rem !important;
    right: 0.5rem !important;
}
.my-card {
    border:2px solid #a26737 !important;
    display: block;
}


.slds-form-element__label {
    padding-bottom: 10px;
    color: black;
}

.slds-checkbox__label {
    padding-top: 10px;
}

.modal_header_style {
    background-color: #a26737;
    border-bottom: #a26737;
    color: black;
}



.modal_footer_style {
    border-right: 2px solid #a26737 !important;
    border-left: 2px solid #a26737 !important;
    border-bottom: 2px solid #a26737 !important;
}
/* scroll bar */
.scroll-box {
  width: 100%;
  height: 170px;
  overflow-y: auto;
}

.scroll-box::-webkit-scrollbar {
  width: 0.4em;
}

.scroll-box::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background: #231f20;
}
/* scroll bar */
.scrollbox {
    width: 100%;
    height: 400px;
    overflow-y: auto;
  }
  
  .scrollbox::-webkit-scrollbar {
    width: 0.4em;
  }
  
  .scrollbox::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background: #231f20;
  }