.slds-path__nav .slds-is-complete .slds-path__title {
  transform: inherit !important;
}
.breadcrumbContents {
    display: flex;
    flex-wrap: wrap;
  }
  
  .breadcrumb {
    list-style: none;
    overflow: hidden;
    padding: 0;
    background-color: white;
  }
  
  .breadcrumb li {
    float: left;
  }
  
  .breadcrumb li a {
    color: black;
    text-decoration: none;
    padding: 2px 0 3px 55px;
    background: #a26737;
    position: relative;
    display: block;
    float: left;
  }
  
  .breadcrumb li a:after {
    content: " ";
    display: block;
    width: 0;
    height: 0;
    border-top: 50px solid transparent;
    /* Go big on the size, and let overflow hide */
    border-bottom: 50px solid transparent;
    border-left: 30px solid rgb(162, 103, 55, 1);
    position: absolute;
    top: 50%;
    margin-top: -50px;
    left: 100%;
    z-index: 2;
  }
  
  .breadcrumb li a:before {
    content: " ";
    display: block;
    width: 0;
    height: 0;
    border-top: 50px solid transparent;
    /* Go big on the size, and let overflow hide */
    border-bottom: 50px solid transparent;
    border-left: 30px solid white;
    position: absolute;
    top: 50%;
    margin-top: -50px;
    margin-left: 1px;
    left: 100%;
    z-index: 1;
  }
  
  .breadcrumb li:first-child a {
    padding-left: 10px;
  }
  
  .breadcrumb li:last-child a {
    background: #a26737 !important;
    color: black;
    pointer-events: none;
    cursor: default;
    border-radius: 14px;
    padding-right: 25px;
  }
  
  .breadcrumb li:last-child a:after {
    border: 0;
  }
  .slds_box_style {
    height: 51px;
    padding: 8px;
    border: 1px solid #a26737;
    border-radius: 32px;
    box-shadow: inset 0 0 10px rgba(61, 51, 48, 0.43137254901960786);
    transition: box-shadow 0.3s ease-in-out;
  }
  .budget_header_style {
    font-size: 16px;
    font-weight: 600;
    text-align: center;
  }