/* PopUp Modal css */
.popUp_header {
    margin-top: -6px;
    margin-bottom: -9px;
  
  }
  
  .popup_close {
    margin-bottom: -40px;
    margin-left: -24px;
    background-color: #001137;
    margin-top: 48px;
  }

  .popUpHeader {
    background-color: #001137;
    color: white;
  }
  
  .modal_body_style {
    border-right: 2px solid #001137 !important;
    border-left: 2px solid #001137 !important;
  }
  
  .modal_footer_style {
    border-right: 2px solid #001137 !important;
    border-left: 2px solid #001137 !important;
    border-bottom: 2px solid #001137 !important;
  }
  
  .slds-modal__footer {
    border-top: 0px solid #001137 !important;
    border-bottom-right-radius: .25rem;
    border-bottom-left-radius: .25rem;
    padding: .75rem 1rem;
    background-color: #ffffff;
    text-align: right;
    box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.16);
  }
  
  .slds-modal__header {
    position: relative;
    border-top-right-radius: 0.25rem;
    border-top-left-radius: 0.25rem;
    text-align: center;
    border-bottom: 0px solid rgb(212, 212, 212) !important;
    padding: 1rem;
  }
  
  .search_button_style {
    font-weight: 800;
    margin-top: 22px;
  }
  
  .pagination_last {
    margin-top: 4px;
    margin-left: 10px;
  }
  
  .pagination_first {
    margin-top: 4px;
  }
  
  .slds-button_brand {
    border-radius: 10px !important;
  }
  
  .pagination_index_no_padding_style {
    padding: 2px;
  }
  
  .slds-button.slds-button_brand:hover {
    background: #e2d9d5 !important;
    color: black !important;
  }
  
  .icon_color_style {
    background: #e2d9d5;
    color: black;
    margin-left: 5px;
    padding: 3px;
    border-radius: 15px;
  }
  .slds-modal__close {
    top: 0.5rem!important;
    right: 0.5rem!important;
  }
  /* scroll bar */
  .scroll-box {
    width: 100%;
    height: 340px;
    overflow-y: auto;
    padding-right:3px;
  }
  
  .scroll-box::-webkit-scrollbar {
    width: 1em;
  }
  
  .scroll-box::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background: #001137;
  }
  @media (min-width:1281px){
    .slds-modal_medium .slds-modal__container {
        width: 46%;
    }
  
  }
  
  @media (min-width:1800px){
    .slds-modal_medium .slds-modal__container {
        width: 40%;
    }
  
  }
  /* .slds-form-element__control .slds-radio{ */
  .slds-radio{display: contents !important;
  }
  
  .slds-form-element__control .slds-radio {
    display: initial !important;
  }