.exampleHolder {
    position: relative;
}

.buttonHover:hover {
    background-color: rgb(201, 199, 197);
    border-color: rgb(201, 199, 197);
}

.slds-modal .slds-modal__container {
    width: 30%
}

.modal_header_style {
    background-color:#001137;
    border-bottom:#001137;
    color: white;
}

.modal_body_style {
    border-right: 2px solid#001137!important;
    border-left: 2px solid#001137!important;
}

.modal_footer_style {
    border-right: 2px solid#001137!important;
    border-left: 2px solid#001137!important;
    border-bottom: 2px solid#001137!important;
}

.slds-form-element__label {
    padding-bottom: 7px;
    font-weight: 700;
    color: black;
}

.slds-dueling-list__column {
    padding-left: 4px;
}

.slds-dueling-list__options [aria-selected="true"] {
    background-color:#001137;
    color: white;
}

.slds-button:focus {
    color:#001137;
    box-shadow:#001137 0px 0px 3px;
}

.slds-button:hover {
    color: grey;
}

.slds-modal__close {
    top: 0.5rem!important;
    right: 0.5rem!important;
}

.slds-text-heading_small {
    margin-bottom: 0;
}

.modal_margin_style {
    margin-top: 0;
}

@media only screen and (min-width:1281px) and (max-width:1700px) {
    .slds-modal .slds-modal__container {
        width: 36%;
    }
}

@media only screen and (min-width:1200px) and (max-width:1280px) {
    .slds-modal .slds-modal__container {
        width: 36%;
    }
}