.exampleHolder{
    position:relative;
  }
  
  .buttonHover:hover{  
    background-color:#001137; 
    border-color:#001137;
  }
  
  .slds-form-element__label{
    padding-bottom: 10px;
    font-weight: 700;
    color: black;
  }
  .slds-checkbox__label{
    padding-top: 10px;
  }
  
  .modal_header_style{
    background-color:#001137;
    border-bottom:#001137;
    color: white;
  }
  .modal_body_style{
    border-right: 2px solid  #001137!important;
    border-left: 2px solid #001137!important;
  }
  .button_color_style{
    background-color:#001137;
    border-color:#001137
  }
  .modal_footer_style{
    border-right: 2px solid #001137!important;
    border-left: 2px solid #001137!important;
    border-bottom: 2px solid #001137!important;
  }
  .slds-text-heading_small{
    margin-bottom: 0;
  }
  .slds-modal__close {
    top: 0.5rem!important;
    right: 0.5rem!important;
  }
  .slds-modal .slds-modal__container {
    width: 23%;  
  }
  .footer_buttons{
    margin-right: 10px;
  }
  @media only screen and (min-width:768px) and (max-width:1281px) {
    .slds-modal .slds-modal__container {
        width: 25%;
    }
  }