.THIS .table, td, th {
    /* border: 1px solid black; */
    padding : 9px;
    text-align: -webkit-center;
    font-size: small;
    font-family: sans-serif;
    font-weight: 400;
  }
  
  .THIS .table {
    width: auto;
    text-align:center;
  }

  /* spinner */
  .exampleHolder{
    position: relative;
    display: inline-block;
    width: 100%;
    height: 80px;

  }

  
  .th {
      display: inline;
     
  }
  .tableheader {
  
    color: white;
  background-color:#963821;
  position: sticky !important; 
  top:0;
  z-index: 99;
 
  }
.label_text {
  margin-left: 32%;
  font-size: inherit;
  margin-bottom: 12px;
}  
  
.THIS .td{
      display: flex;
      padding-top: 14px;
    padding-bottom: 14px;
  }
  .combobox {
      width: fit-content;
      text-align: left;
      font-size: medium;
      font-weight: 400;
      font-family: sans-serif;
      margin-top: -56px;

      
  } 
  .table_label {
    width: 145px !important;    
  }
  .table_label_custom {
    width: 90px !important; 
  }
  .button_color{
    width: 124px;
    color: #fff;
    background-color:#963821;
    padding:5px;
  
  
  }

.breadcrumbContents {
  display: flex;
  flex-wrap: wrap;
}

.breadcrumb {
  list-style: none;
  overflow: hidden;
  padding: 0;
  background-color: white;
}

.breadcrumb li {
  float: left;
}
.no_data_text_style {
  color:#963821;
  font-size: 15px;
  font-weight: 700;
  text-align: center;
}

.breadcrumb li a {
  color: white;
  text-decoration: none;
  padding: 2px 0 3px 55px;
  background:#963821;
  position: relative;
  display: block;
  float: left;
}

.breadcrumb li a:after {
  content: " ";
  display: block;
  width: 0;
  height: 0;
  border-top: 50px solid transparent;
  /* Go big on the size, and let overflow hide */
  border-bottom: 50px solid transparent;
  border-left: 30px solid hsla(12, 64%, 36%);
  position: absolute;
  top: 50%;
  margin-top: -50px;
  left: 100%;
  z-index: 2;
}

.breadcrumb li a:before {
  content: " ";
  display: block;
  width: 0;
  height: 0;
  border-top: 50px solid transparent;
  /* Go big on the size, and let overflow hide */
  border-bottom: 50px solid transparent;
  border-left: 30px solid white;
  position: absolute;
  top: 50%;
  margin-top: -50px;
  margin-left: 1px;
  left: 100%;
  z-index: 1;
}

.breadcrumb li:first-child a {
  padding-left: 10px;
}

.breadcrumb li:last-child a {
  background:#963821 !important;
  color: White;
  pointer-events: none;
  cursor: default;
  border-radius: 14px;
  padding-right: 25px;
}

.breadcrumb li:last-child a:after {
  border: 0;
}

.table_Description{
  width:280px !important;
}


/* scroll bar */
.scroll-box {
  width: 100%;
  height: 400px;
  overflow-y: auto;
  overflow-x: auto;
  margin-top: -26px;
  margin-bottom: -12px;
}

.fontData{
  font-weight: 700;
  text-align: center;
}

.download_info{
    background-color:#963821;
    color: white;
    border-color:#963821;
    
}

.download_info:hover{
  border-color:#963821;
}
.slds-button:focus {
  box-shadow:none !important; 
   outline: none;
}
.totalStyle {
  font-size: small;
  font-weight: bolder;
}